body{
  margin:0 !important;
  background-color:white;
  padding:0 !important;
  font-family: Verdana,Arial,Helvetica;

}
.header{
  height:12vh;
  width:100vw;
  background-color:rgb(87,17,255);
  margin:0 !important;
  display: flex;
  border-bottom:5px solid rgb(35,35,35);

}
#footer{
  height:24vh;
  width:100vw;
  background-color:rgb(87,17,255);
  margin:0 !important;
  display: flex;
  border-top:5px solid rgb(35,35,35);
}
#footContent{
  display:flex;
  color:white;
  widows: 100vw;
}
#copyrightNotice{
  width:98vw;
  color:white;
  padding-left:5px;
  padding-right: 5px;
}
#footMenu{
  width:20vw;
  list-style:none;
}
#headtext{
  font-size:1em;
  margin:0;
  color:#fff;
}
.logohead{
  width:20vw;
  height:10vh;
  padding-top:16px;
  padding-left:5px;


}
.menu{
  width:35vw;
  height:10vh;
  color:#fff;
  text-align: right;
  font-size: 0.9em;
}
#spacer{
  width:20vw
}
#menuitem{
  font-weight:bold;
  font-weight:1em;
}
a{
  text-decoration: none;
}
a:link{
  color:#fff;
}
a:visited{
  color:#fff;
}
a:focus{
  color:#FAA019;
}
a:active{
  color:orange;
}
a:hover{
  color:orange;
  cursor: pointer;
}
.currentlink{
  color:rgb(242, 160, 0)!important;

}
.content{
  color:white;
  display:flex;
  padding-left: 5px;
  padding-right: 2px;
  padding-bottom: 15px;

}
.cell{
  width: 80%
}
.sideBar{
  width: 20%
  border-radius:15px;
  padding-top:60px;
  padding-right:5px;
  padding-left: 5px;
}
.sideBarC1{
  background-color:white;
  border-radius: 15px;
  color:black;
  padding-left:7px;
  padding-right:7px;
}
#menuHeader{
  margin:0;
}
#menuBreak{
  margin:1;
}
.menuContent{
  margin:0;
}
.welcomeText{
  padding-left: 15px;
  color: black !important;
}
.contentBox{
  background-color:rgb(87,17,255);
  color:white;
  border-radius:15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom:2px;
  border:solid rgb(0, 0, 0) 1.5px;
}
.contentCell{
  padding-left:1px;
}

#note{
  background-color:red !important;
  color:white!important;
}
.bolded{
  font-weight: bold;
}
.listLink{
  color: white !important;
  font-weight: bold;
}
#logo{
  width:100px;
  display: flex;
}
.storyTitle{
  color:white;
}
.storyContent{
  color:white;
}
.author{
  color:white;
  font-style: italic;
}
.date{
  color:white;
  font-style: italic;
}
